
.window-views__main-item {
    border-radius: 20px; 
    width: 100%;
    height: 700px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.window-views__main-item_1 {background-image: url('../img/window-views/gal_item_1.jpg');}
.window-views__main-item_2 {background-image: url('../img/window-views/gal_item_2.jpg');}
.window-views__main-item_3 {background-image: url('../img/window-views/gal_item_3.jpg');}
.window-views__main-item_4 {background-image: url('../img/window-views/gal_item_4.jpg');}
.window-views__main-item_5 {background-image: url('../img/window-views/gal_item_5.jpg');}
.window-views__main-item_6 {background-image: url('../img/window-views/gal_item_6.jpg');}
.window-views__main-item_7 {background-image: url('../img/window-views/gal_item_7.jpg');}
.window-views__main-item_8 {background-image: url('../img/window-views/gal_item_8.jpg');}
.window-views__main-item_9 {background-image: url('../img/window-views/gal_item_9.jpg');}
.window-views__main-item_10 {background-image: url('../img/window-views/gal_item_10.jpg');}
.window-views__main-item_11 {background-image: url('../img/window-views/gal_item_11.jpg');}
.window-views__main-item_12 {background-image: url('../img/window-views/gal_item_12.jpg');}
.window-views__main-item_13 {background-image: url('../img/window-views/gal_item_13.jpg');}
.window-views__main-item_14 {background-image: url('../img/window-views/gal_item_14.jpg');}
.window-views__main-item_15 {background-image: url('../img/window-views/gal_item_15.jpg');}
.window-views__main-item_16 {background-image: url('../img/window-views/gal_item_16.jpg');}
.window-views__main-item_17 {background-image: url('../img/window-views/gal_item_17.jpg');}
.window-views__main-item_18 {background-image: url('../img/window-views/gal_item_18.jpg');}
.window-views__main-item_19 {background-image: url('../img/window-views/gal_item_19.jpg');}
.window-views__main-item_20 {background-image: url('../img/window-views/gal_item_20.jpg');}
.window-views__main-item_21 {background-image: url('../img/window-views/gal_item_21.jpg');}
.window-views__main-item_22 {background-image: url('../img/window-views/gal_item_22.jpg');}


.window-views__nav-item {
    max-width: 118px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
}

.window-views__nav-item_1 {background-image: url('../img/window-views/gal_item_1.jpg');}
.window-views__nav-item_2 {background-image: url('../img/window-views/gal_item_2.jpg');}
.window-views__nav-item_3 {background-image: url('../img/window-views/gal_item_3.jpg');}
.window-views__nav-item_4 {background-image: url('../img/window-views/gal_item_4.jpg');}
.window-views__nav-item_5 {background-image: url('../img/window-views/gal_item_5.jpg');}
.window-views__nav-item_6 {background-image: url('../img/window-views/gal_item_6.jpg');}
.window-views__nav-item_7 {background-image: url('../img/window-views/gal_item_7.jpg');}
.window-views__nav-item_8 {background-image: url('../img/window-views/gal_item_8.jpg');}
.window-views__nav-item_9 {background-image: url('../img/window-views/gal_item_9.jpg');}
.window-views__nav-item_10 {background-image: url('../img/window-views/gal_item_10.jpg');}
.window-views__nav-item_11 {background-image: url('../img/window-views/gal_item_11.jpg');}
.window-views__nav-item_12 {background-image: url('../img/window-views/gal_item_12.jpg');}
.window-views__nav-item_13 {background-image: url('../img/window-views/gal_item_13.jpg');}
.window-views__nav-item_14 {background-image: url('../img/window-views/gal_item_14.jpg');}
.window-views__nav-item_15 {background-image: url('../img/window-views/gal_item_15.jpg');}
.window-views__nav-item_16 {background-image: url('../img/window-views/gal_item_16.jpg');}
.window-views__nav-item_17 {background-image: url('../img/window-views/gal_item_17.jpg');}
.window-views__nav-item_18 {background-image: url('../img/window-views/gal_item_18.jpg');}
.window-views__nav-item_19 {background-image: url('../img/window-views/gal_item_19.jpg');}
.window-views__nav-item_20 {background-image: url('../img/window-views/gal_item_20.jpg');}
.window-views__nav-item_21 {background-image: url('../img/window-views/gal_item_21.jpg');}
.window-views__nav-item_22 {background-image: url('../img/window-views/gal_item_22.jpg');}