@media screen and (max-width: 1024px) {
    .footer {
        padding-top: 215px;
    }
    .footer-nav__item {
        width: 40%;
        margin-bottom: 20px;
    }
    .footer-nav_subheading {
        margin-bottom: 15px;
    }
}