.choose-floor__svg {
    width: 100%;
    svg {
        margin-bottom: -20vw;
        position: relative;
        z-index: -1;
    }
}

@media only screen and (max-width: 1200px) {
    .choose-floor__svg {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100vh;
            width: auto;
            transform: translate(-50%, -50%);
            margin-bottom: -30vw;
        }
        
    }

    .choose-floor {
        .footer {
            margin-top: -200px;
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .choose-floor__svg {
        svg {
            height: 50vh;
        }
    }
}