.contacts__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
}

.contacts__map {
    width: 100%;
    height: 700px;
    border-radius: 20px;
    margin-bottom: 22px;
}

.contacts__date {
    margin-left: 10px;
}

.contacts__map {
    border: 2px solid $orange;
}