@media screen and (max-width: 1024px) {
    .main-page-hero__heading {
        transform: translate(616px, 277px);
    }
    #Car_1_1_ {
        transform: translate(-175px,-227px) scale(1.5);
    }
    #Car_2_1_ {
        transform: translate(-465px,-227px) scale(1.5);
    }
    #Car_3_1_ {
        transform: translate(-772px,-206px) scale(1.5);
    }
}