.dud__text {
    min-height: 300px;
    text-align: center;
    img {
        margin-top: 20px;
        border-radius: 20px;
    }
}

.dud__heading {
    margin-top: 40px;
    font-size: 2rem;
    color: $blue;
}