@media screen and (max-width: 1024px) {
    .gallery__nav-container {
        .slick-slide {
            &>div {
                text-align: center;
            }
        }
    }
    .gallery__nav-arrow_right {
        right: 10px;
    }
    .gallery__nav-arrow_left {
        left: 10px;
    }
    .gallery__container {
        height: 630px;
    }
    .gallery__main-item {
        height: 600px;
    }
    
}

@media screen and (max-width: 767px) {
    .gallery__main-item {
        height: 400px;
    }
    .gallery__container {
        margin-bottom: -150px;
        height: 420px;
    }
}